body{padding:0;margin:40px;font-family:Arial;font-size:12px}

/* Typography */
h1{margin:0;padding:30px 0 0}
a{color:#000;text-decoration:underline}
    a:hover{text-decoration:none}
    a img{border:none;text-decoration:none}

/* Table */
table{margin:0;padding:0;border-collapse:collapse}
    tr{margin:0;padding:0}
    th,td{border:1px solid #DDD}
        .board-corner{border-width:0px 1px 1px 0;background:none}
    th{padding:6px 8px;background:#EEE}
    td{padding:3px 3px 0;background:#FFFED9}

/* Status messages */
.error{padding:2px 10px;background:#F4E6E6;border:2px solid #F4D0D0}